.wrap{
  position: relative;
}
.wrap::after{
  content: "";
  display: block;
  clear: both;
}

#hoverBox{
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  top: auto;
  background-color: rgba(255, 255, 0, .6);
  transition: all .35s;
}
#hoverBox.transitioned{
  transition: all .35s;
}